body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header, main, footer {
    padding: 1rem;
    background-color: lightgrey;
}

header {
    background-color: rgb(78, 130, 243);
    text-align: center;
    color: white;
}

section {
    width: 100%;
}

nav a {
    display: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

nav.show a {
    display: block;
}

div {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
}

.menu {
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
}

img {
    border: 5px solid white;
    box-shadow: 5px 5px 10px black;
    object-fit: cover;
}

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
    border: none;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}

.close-viewer {
    position: absolute;
    top: 13vh;
    padding: 3px 6px;
    font-size: 1.5em;
    cursor: pointer;
}

footer {
    text-align: center;
    color: white;
    background-color: rgb(78, 130, 243);
}

@media screen and (min-width: 850px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
        margin: 0 auto;
    }

    img {
        max-width: 300px;
    }

    dialog img {
        max-width: 600px;
    }
}

@media screen and (min-width: 1300px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
        margin: 0 auto;
    }

    img {
        max-width: 250px;
    }

    .menu {
        display: none;
    }

    nav a{
        display: inline;
    }

    dialog img {
        max-width: 800px;
        margin: 15vh auto;
    } 

    .close-viewer {
        position: absolute;
        right: 15vh;
    }

    .viewer {
        margin: 50px;
        padding: 50px;
    }

    .viewer img {
        max-width: 800px;
    }

}