body {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#content{
    border: 2px solid black;
    padding: 120px;
}

h1 {
    font-size: 3.0em;
    font-weight: bold;
    text-transform: uppercase;
}

h1, h2 {
    text-align: center;
}

#content {
    width: 8.5in;
    height: 8in;
    margin: 40px auto;
    border: 1px solid black;
}

h2 {
    font-size: 0.9em;
    color: #2c8aee;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 8px;
}

#rules p {
    font-style: italic;
}

hr {
    margin-top: 0px;
    width: 100%;
    opacity: 0.2;
}

.container {
    display: flex;
    height: 100px;
    width: 100px;
    padding-top: 40px;
    margin: 0 300px;
}

#description {
    margin: 30px auto;
    margin-top: 50px;
    line-height: 1.5em;
}

li {
    margin: 12px 0px;
    line-height: 1.8em;
}

